<!DOCTYPE html>
<html lang="vi">
<head>
	<meta charset="UTF-8">
	<title>Shop</title>
	<link rel="stylesheet" href="reset.css">
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
	<script src="../bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
	<div id="container">
		<header id="header">
				<p>Shop Bà Chủ Mèo</p>
			</header>
		<div class="content clearfix">
			<section id="advertisment">
				
			</section>
			<aside id="sidebar">
				<nav id="sub-menu">
					<ul>
						<li><h6>Danh mục sản phẩm</h6></li>
						<li><a href="#">Giày Vans</a></li>
						<li><a href="#">Giày Converse</a></li>
						<li><a href="#">Giày Tuvi's</a></li>
						<li><a href="#">Giày Adidas</a></li>
						<li><a href="#">Giày Nike</a></li>
						<li><a href="#">Giày Jordan</a></li>
						<li><a href="#">Giày lười</a></li>
						<li><a href="#">Giày tây</a></li>
						<li><a href="#">Giày cao gót</a></li>
					</ul>
				</nav>
			</aside>
		</div>
		<div class="brand clearfix"><h3>Sản phẩm</h3></div>
		<section class="product">
			<div class="item">
				<ul>
					<li><a href="#">
						<img src="http://www.converse.com.vn/pictures/catalog/products/sneakers/chuck-taylor-all-star/157622c/157622standard.jpg" alt="">
					</a></li>
					<li><a href="#">Giày Converse</a></li>
					<li><p>Giá: 120.000 vnđ</p></li>
				</ul>
			</div>
			<div class="item">
				<ul>
					<li><a href="#">
						<img src="http://www.converse.com.vn/pictures/catalog/products/sneakers/chuck-taylor-all-star/157622c/157622standard.jpg" alt="">
					</a></li>
					<li><a href="#">Giày Converse</a></li>
					<li><p>Giá: 120.000 vnđ</p></li>
				</ul>
			</div>
			<div class="item">
				<ul>
					<li><a href="#">
						<img src="http://www.converse.com.vn/pictures/catalog/products/sneakers/chuck-taylor-all-star/157622c/157622standard.jpg" alt="">
					</a></li>
					<li><a href="#">Giày Converse</a></li>
					<li><p>Giá: 120.000 vnđ</p></li>
				</ul>
			</div>
			<div class="item">
				<ul>
					<li><a href="#">
						<img src="http://www.converse.com.vn/pictures/catalog/products/sneakers/chuck-taylor-all-star/157622c/157622standard.jpg" alt="">
					</a></li>
					<li><a href="#">Giày Converse</a></li>
					<li><p>Giá: 120.000 vnđ</p></li>
				</ul>
			</div>
			<div class="item">
				<ul>
					<li><a href="#">
						<img src="http://www.converse.com.vn/pictures/catalog/products/sneakers/chuck-taylor-all-star/157622c/157622standard.jpg" alt="">
					</a></li>
					<li><a href="#">Giày Converse</a></li>
					<li><p>Giá: 120.000 vnđ</p></li>
				</ul>
			</div>
			<div class="item">
				<ul>
					<li><a href="#">
						<img src="http://www.converse.com.vn/pictures/catalog/products/sneakers/chuck-taylor-all-star/157622c/157622standard.jpg" alt="">
					</a></li>
					<li><a href="#">Giày Converse</a></li>
					<li><p>Giá: 120.000 vnđ</p></li>
				</ul>
			</div>
		</section>
		<div class="brand clearfix"><h3>Sản phẩm bán chạy nhất</h3></div>
		<section class="product">
			<div class="item">
				<ul>
					<li><a href="#">
						<img src="http://www.converse.com.vn/pictures/catalog/products/sneakers/chuck-taylor-all-star/157622c/157622standard.jpg" alt="">
					</a></li>
					<li><a href="#">Giày Converse</a></li>
					<li><p>Giá: 120.000 vnđ</p></li>
				</ul>
			</div>
			<div class="item">
				<ul>
					<li><a href="#">
						<img src="http://www.converse.com.vn/pictures/catalog/products/sneakers/chuck-taylor-all-star/157622c/157622standard.jpg" alt="">
					</a></li>
					<li><a href="#">Giày Converse</a></li>
					<li><p>Giá: 120.000 vnđ</p></li>
				</ul>
			</div>
			<div class="item">
				<ul>
					<li><a href="#">
						<img src="http://www.converse.com.vn/pictures/catalog/products/sneakers/chuck-taylor-all-star/157622c/157622standard.jpg" alt="">
					</a></li>
					<li><a href="#">Giày Converse</a></li>
					<li><p>Giá: 120.000 vnđ</p></li>
				</ul>
			</div>
			<div class="item">
				<ul>
					<li><a href="#">
						<img src="http://www.converse.com.vn/pictures/catalog/products/sneakers/chuck-taylor-all-star/157622c/157622standard.jpg" alt="">
					</a></li>
					<li><a href="#">Giày Converse</a></li>
					<li><p>Giá: 120.000 vnđ</p></li>
				</ul>
			</div>
			<div class="item">
				<ul>
					<li><a href="#">
						<img src="http://www.converse.com.vn/pictures/catalog/products/sneakers/chuck-taylor-all-star/157622c/157622standard.jpg" alt="">
					</a></li>
					<li><a href="#">Giày Converse</a></li>
					<li><p>Giá: 120.000 vnđ</p></li>
				</ul>
			</div>
			<div class="item">
				<ul>
					<li><a href="#">
						<img src="http://www.converse.com.vn/pictures/catalog/products/sneakers/chuck-taylor-all-star/157622c/157622standard.jpg" alt="">
					</a></li>
					<li><a href="#">Giày Converse</a></li>
					<li><p>Giá: 120.000 vnđ</p></li>
				</ul>
			</div>
		</section>
		<footer id="footer">
			<p>Copyright &copy by QuocCuong</p>
		</footer>
	</div>
</body>
</html>